body {
  font-family: Inter;
  padding: 0;
  margin: 0;
}

.motto {
  font-size: 35px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.brief-intro {
  background: linear-gradient(rgba(0, 0, 0, 0.708), rgba(0, 0, 0, 0.839)), url(../images/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  /* filter: brightness(20%); */
  height: 500px;

  display: flex;
}

.bio {
  color: white;
  font-size: 200px;
  flex: 1;
}

.profile-photo {
  color: white;
  flex: 1;
}